{% embed "BackendAdminBundle::header.html.twig" %}

    {# override the title-tag text #}
    {% block title_text %}
        Kategorien
    {% endblock %}

    {# override the nav_active property #}
    {% block category_nav %}
        class="active"
    {% endblock %}

{% endembed %}

<div data-ng-init="initCategories()"></div>
<div class="container-fluid">
    <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
        <button class="btn">Hinzufügen</button>
        <ul data-ng-repeat="category in categorys">
            <li>[[ category.name ]]</li>
        </ul>
    </div>
</div>




{% include "BackendAdminBundle::footer.html.twig" %}