{% if is_granted('ROLE_ADMIN') %}
{% embed "BackendAdminBundle::header.html.twig" %}

    {# override the title-tag text #}
    {% block title_text %}
        Projektbearbeitung
    {% endblock %}

    {# override the nav_active property #}
    {% block project_nav %}
        class="active"
    {% endblock %}

{% endembed %}
<div class="container-fluid">
    <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
        <div class="col-sm-3 col-md-2 col-lg-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a class="aktiv">ABC</a></li>
                <li><a >EDF</a></li>
            </ul>
        </div>
        <form action="{{ path('insertProject')}}" method="post">

            <div class="col-md-8 col-lg-8">
                <!--
                    Editfeld Header
                    Inhalt:
                        Profildbild
                        Aktiviert-Checkbox
                        Löschbutton
                -->
                <div class="row">
                    <div class="col-md-3 col-lg-3 editTopHeight"><!-- Profilbild -->
                        <div class="picAlignRight">
                            <img style="height: 70px; width: 70px" alt="Projektbild" name="projectpicture">
                        </div>
                    </div>
                    <div class="col-md-9 col-lg-9 editTopHeight"><!-- Aktiviert-Box, Username, PW, Löschbutton -->
                        <div class="contentBottom">
                            <input type="checkbox" id="activated" name="activated"/>
                            Aktiviert
                        </div>
                        <div class="alignRight">
                            <input class="btn" type="button" value="delete">
                        </div>
                    </div>
                </div>

                <!--
                    Editfeld Header2
                    Inhalt:
                        Username
                        Password
                -->
                <div class="row marginBottom">
                    <div class="col-md-offset-3 col-lg-offset-3 col-md-4 col-lg-4">
                        <input class="form-control" type="text" placeholder="Projekttitel" id="title" name="title">
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input class="form-control" type="text" placeholder="Kategorie"  id="category" name="category">
                    </div>
                </div>

                <!--
                    Editfeld Header2
                    Inhalt:
                        Vorname
                        Nachname
                -->
                <div class="row marginTop">
                    <div class="col-md-offset-3 col-lg-offset-3 col-md-4 col-lg-4">
                        <input class="form-control" type="date" placeholder="Erstellt am" id="created_at" name="created_at">
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input class="form-control" type="number" placeholder="Zielbetrag"  id="targetAmount" name="targetAmount">
                    </div>
                </div>

                <!--
                    Editfeld Header2
                    Inhalt:
                        E-Mail
                        Alter
                -->
                <div class="row marginTop">
                    <div class="col-md-offset-3 col-lg-offset-3 col-md-4 col-lg-4">
                        <input class="form-control" type="text" placeholder="Kurzinfo" id="shortInfo" name="shortInfo">
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input class="form-control" type="number" placeholder="aktueller Spendenbetrag" id="currentAmount" name="currentAmount">
                    </div>
                </div>

                <!--
                    Editfeld Header2
                    Inhalt:
                        PLZ
                        Ort
                -->
                <div class="row marginTop">
                    <div class="col-md-offset-3 col-lg-offset-3 col-md-8 col-lg-8">
                        <textarea class="form-control" rows="4" placeholder="Beschreibung" id="description" name="description"></textarea>
                    </div>
                </div>

                <div class="row marginTop">
                    <div class="col-md-offset-3 col-lg-offset-3 col-md-9 col-lg-9">
                        <button type="sumbit" id="fertig_button" class="btn">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>




{% include "BackendAdminBundle::footer.html.twig" %}
{% endif %}