{% if is_granted('ROLE_ADMIN') %}
{% embed "BackendAdminBundle::header.html.twig" %}

    {# override the title-tag text #}
    {% block title_text %}
        Userbearbeitung
    {% endblock %}

    {# override the nav_active property #}
    {% block user_nav %}
        class="active"
    {% endblock %}

{% endembed %}
<div data-ng-init="initUserDetail()"></div>
<div class="container-fluid">
    <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
        <div class="col-sm-3 col-md-2 col-lg-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a data-ng-click="redirectToUser([[user.id]])" class="aktiv">Bearbeiten</a></li>
                <li><a data-ng-click="redirectToUserProjekte([[userDetailInfo.id]])">Projekte</a></li> <!-- data-ng-show="ifDonator([[userDetailInfo.role]])" -->
            </ul>
        </div>
        <form>
            <div class="col-md-8 col-lg-8">
                <!--
                    Editfeld Header
                    Inhalt:
                        Profildbild
                        Aktiviert-Checkbox
                        Löschbutton
                -->
                <div class="row">
                    <div class="col-md-3 col-lg-3 editTopHeight"></div>
                    <div class="col-md-9 col-lg-9 editTopHeight"><!-- Aktiviert-Box, Username, PW, Löschbutton -->
                        <div class="contentBottom">
                            <input type="checkbox" id="activated" name="activated"/>
                            Aktiviert
                        </div>
                        <div class="alignRight">
                            <input class="btn" type="button" value="delete">
                        </div>
                    </div>
                </div>

                <!--
                    Editfeld Header2
                    Inhalt:
                        Username
                        Password
                -->
                <div class="row marginBottom">
                    <div class="col-md-offset-3 col-lg-offset-3 col-md-4 col-lg-4">
                        <input class="form-control" type="text" placeholder="Username" value="[[userDetailInfo.username]]" id="username">
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input class="form-control" type="password" placeholder="Passwort" value="[[userDetailInfo.password]]" id="password">
                    </div>
                </div>

                <!--
                    Editfeld Header2
                    Inhalt:
                        Vorname
                        Nachname
                -->
                <div class="row marginTop">
                    <div class="col-md-offset-3 col-lg-offset-3 col-md-4 col-lg-4">
                        <input class="form-control" type="text" placeholder="Vorname" value="[[userDetailInfo.firstname]]" id="vorname">
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input class="form-control" type="text" placeholder="Nachname" value="[[userDetailInfo.lastname]]" id="nachname">
                    </div>
                </div>

                <!--
                    Editfeld Header2
                    Inhalt:
                        E-Mail
                        Alter
                -->
                <div class="row marginTop">
                    <div class="col-md-offset-3 col-lg-offset-3 col-md-4 col-lg-4">
                        <input class="form-control" type="email" placeholder="E-Mail" value="[[userDetailInfo.email]]" id="email">
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input class="form-control" type="datetime-local" placeholder="Geburtsdatum" value="[[userDetailInfo.birthDate]]" id="geburtsdatum">
                    </div>
                </div>

                <!--
                    Editfeld Header2
                    Inhalt:
                        PLZ
                        Ort
                -->
                <div class="row marginTop">
                    <div class="col-md-offset-3 col-lg-offset-3 col-md-4 col-lg-4">
                        <input class="form-control" type="number" placeholder="Postleitzahl" value="[[userDetailInfo.zipcode]]" id="plz">
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input class="form-control" type="text" placeholder="Stadt" value="[[userDetailInfo.town]]" id="ort">
                    </div>
                </div>

                <!--
                    Editfeld Header2
                    Inhalt:
                        Straße
                        Hausnummmer
                -->
                <div class="row marginTop">
                    <div class="col-md-offset-3 col-lg-offset-3 col-md-4 col-lg-4">
                        <input class="form-control" type="text" placeholder="Straße" value="[[userDetailInfo.street]]" id="strasse">
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input class="form-control" type="text" placeholder="Hausnummer/Türnummer" value="[[userDetailInfo.housenumberDoornumber]]" id="hausnummer">
                    </div>
                </div>

                <div class="row marginTop">
                    <div class="col-md-offset-3 col-lg-offset-3 col-md-9 col-lg-9">
                        <input class="btn" type="button" value="Fertig" id="fertig_button">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>




{% include "BackendAdminBundle::footer.html.twig" %}
{% endif %}