{% if is_granted('ROLE_ADMIN') %}

    <script src="{{ asset('bundles/backendadmin/bower_components/angular/angular.min.js') }}"></script>

    <script src="{{ asset('bundles/backendadmin/js/controller.js') }}"></script>

    </body>
</html>
{% endif %}