{% if is_granted('ROLE_ADMIN') %}
<!DOCTYPE html>
<html data-ng-app="BackendApp">
<head>
    <meta charset="UTF-8" />

    <title>{% block title_text %} SV Backend {% endblock %}</title>

    <!-- Tab Icon -->
    <!--<link rel="icon" href="./public/img/logo_icon.ico">-->

    <link rel="stylesheet" href="{{ asset('bundles/backendadmin/bower_components/bootstrap/dist/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/backendadmin/css/sv-backend.css') }}" />

</head>
<body data-ng-controller="backendController" >

<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
            <ul class="nav navbar-nav">
                <li {% block user_nav %}{% endblock %}><a href="/backend/">User</a></li>
                <li {% block project_nav %}{% endblock %}><a href="/backend/projects">Projekte</a></li>
                <li {% block report_nav %}{% endblock %}><a href="/backend/reports">Berichte</a></li>
                <li {% block meldung_nav %}{% endblock %}><a href="/backend/report">Meldungen</a></li>
                <li {% block category_nav %}{% endblock %}><a href="/backend/categories">Kategorien</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endif %}