{% embed "BackendAdminBundle::header.html.twig" %}

    {# override the title-tag text #}
    {% block title_text %}
        User
    {% endblock %}

    {# override the nav_active property #}
    {% block user_nav %}
        class="active"
    {% endblock %}

{% endembed %}
<div class="container-fluid">
    <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
        <table class="table table-compressed">
            <tr class="table-header">
                <th>Userart</th>
                <th>Name</th>
                <th>E-Mail</th>
                <th>Alter</th>
                <th>Region</th>
                <th>Projektanzahl</th>
                <th>Spendensumme</th>
                <th>Letzte Anmeldung</th>
            </tr>


            <tr data-ng-repeat="user in users">
                <a href="/backend/"+[[ user.id ]]>
                <td>[[ user.role ]]</td>
                <td>[[ user.username ]]</td>
                <td>[[ user.email ]]</td>
                <td>[[ user.age ]]</td>
                <td>[[ user.zipcode ]]</td>
                <td>[[ user.amountProjects ]]</td>
                <td>5000</td>
                <td>15.09.2017</td>
                </a>
            </tr>
        </table>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="RX6K2ALWQP7JC">
            <input type="image" src="http://www.spendenverbindet.at" border="0" name="submit" alt="Spenden">
            <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
        </form>

    </div>
</div>


{% include "BackendAdminBundle::footer.html.twig" %}