{% if is_granted('ROLE_ADMIN') %}
{% embed "BackendAdminBundle::header.html.twig" %}

    {# override the title-tag text #}
    {% block title_text %}
        User
    {% endblock %}

    {# override the nav_active property #}
    {% block user_nav %}
        class="active"
    {% endblock %}

{% endembed %}
<div data-ng-init="initUsers()"></div>
<div class="container-fluid">
    <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
        <table class="table table-compressed">
            <tr class="table-header">
                <th>Userart</th>
                <th>Name</th>
                <th>E-Mail</th>
                <th>Alter</th>
                <th>Region</th>
                <th>Projektanzahl</th>
                <th>Spendensumme</th>
                <th>Letzte Anmeldung</th>
            </tr>


            <tr data-ng-click="redirectToUser([[user.id]])" data-ng-repeat="user in users">
                <a href="/backend/"+[[ user.id ]]>
                <td>[[ user.role ]]</td>
                <td>[[ user.username ]]</td>
                <td>[[ user.email ]]</td>
                <td>[[ user.age ]]</td>
                <td>[[ user.zipcode ]]</td>
                <td>[[ user.amountProjects ]]</td>
                <td>[[ user.currentAmount ]]</td>
                <td>[[ user.lastLogin ]]</td>
                </a>
            </tr>
        </table>

    </div>
</div>


{% include "BackendAdminBundle::footer.html.twig" %}
{% endif %}