{% embed "BackendAdminBundle::header.html.twig" %}

    {# override the title-tag text #}
    {% block title_text %}
        Projekte
    {% endblock %}

    {# override the nav_active property #}
    {% block project_nav %}
        class="active"
    {% endblock %}

{% endembed %}
<div class="container-fluid">
    <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
        <table class="table table-compressed">
            <tr class="table-header">
                <th>Titel</th>
                <th>Projektinhaber</th>
                <th>Spenderanzahl</th>
                <th>Zielbetrag</th>
                <th>Erreichte Spenden</th>
                <th>Kategorie</th>
                <th>Letzte Spenden</th>
            </tr>


            <tr data-ng-repeat="project in projects">
                <td>[[ project.title ]]</td>
                <td>-</td>
                <td>[[ project.currentDonators ]]</td>
                <td>[[ project.targetAmount ]] €</td>
                <td>[[ project.currentAmount ]] €</td>
                <td>[[ project.categorie ]]</td>
                <td>15.08.2017</td>
            </tr>
        </table>
    </div>
</div>


{% include "BackendAdminBundle::footer.html.twig" %}