{% if is_granted('ROLE_RECEIVER') %}

    {% embed "HtlSpendenportalBundle::header.html.twig" %}
        {# override the title-tag text #}
        {% block title_text %}
            Spendenverbindet | MEINE PROJEKTE
        {% endblock %}
    {% endembed %}

    <script>
        document.getElementById("meine_projekte_id").style["color"] = "#47A1DE";
    </script>

    <div class="helper-navbar"></div>



    <div class="container">
        <div class="row fisrt-ent-section">
            <div class="col-xs-12 col-md-6 text-center"><h2>MEIN PROJEKT</h2></div>
            <div class="col-xs-12 col-md-6">
                <div class="row second-ent-section text-center">
                    <button style="margin-top:27px;" class="uk-button uk-button-primary"><span style="font-size:18px;">PROJEKT ERSTELLEN</span></button>
                </div>
            </div>
        </div>


            <div class="row">
                <div class="col-xs-12 col-sm-6" style="padding:50px;padding-top: 0">
                    <img src="{{ asset('bundles/htlspendenportal/img/testbild1.jpg') }}" alt="">
                </div>
                <div class="col-xs-12 col-sm-6" style="padding:50px;padding-top:0">
                    <h2>Titel des Projekts</h2>
                    <p style="padding-bottom:20px">
                        Shorttext here!Beschreibungstext BeschreibungstextBeschreibungstextBeschreibungstextBeschreibungstext
                        BeschreibungstextBeschreibungstextBeschreibungstextBeschreibungstext
                        BeschreibungstextBeschreibungstextBeschreibungstextBeschreibungstext
                    </p>
                    <button class="spenden-detail-btn" style="width:200px;margin-left:0;margin-top:10px;"><span style="font-size:18px">PROJEKT ANSEHEN</span></button>
                </div>
            </div>

        <div class="row fisrt-ent-section text-center" style="margin-top:40px;margin-bottom: 50px;">
            <button class="folgen-detail-btn" style="width:120px;"><span style="font-size:18px">LÖSCHEN</span></button>
            <button class="spenden-detail-btn" style="width:120px;"><span style="font-size:18px">BEARBEITEN</span></button>
        </div>

        <hr style="border: 1px solid lightgray">

        <div class="row fisrt-ent-section">
            <div class="col-xs-12 col-md-6 text-center"><h2>ABGESCHLOSSENE PROJEKTE</h2></div>
            <div class="col-xs-12 col-md-6"></div>
        </div>

        <div style="margin-bottom:50px;" class="row">
            <div class="col-xs-12 col-sm-6" style="padding:50px;padding-top: 0">
                <img src="{{ asset('bundles/htlspendenportal/img/testbild1.jpg') }}" alt="">
            </div>
            <div class="col-xs-12 col-sm-6" style="padding:50px;padding-top:0">
                <h2>Titel des Projekts</h2>
                <p style="padding-bottom:20px">
                    Beschreibungstext BeschreibungstextBeschreibungstextBeschreibungstextBeschreibungstext
                    BeschreibungstextBeschreibungstextBeschreibungstextBeschreibungstext
                    BeschreibungstextBeschreibungstextBeschreibungstextBeschreibungstext
                </p>
                <button class="spenden-detail-btn" style="width:200px;margin-left:0;margin-top:10px;"><span style="font-size:18px">PROJEKT ANSEHEN</span></button>
            </div>
        </div>

        <div style="margin-bottom:50px;" class="row">
            <div class="col-xs-12 col-sm-6" style="padding:50px;padding-top: 0">
                <img src="{{ asset('bundles/htlspendenportal/img/testbild1.jpg') }}" alt="">
            </div>
            <div class="col-xs-12 col-sm-6" style="padding:50px;padding-top:0">
                <h2>Titel des Projekts</h2>
                <p style="padding-bottom:20px">
                    Beschreibungstext BeschreibungstextBeschreibungstextBeschreibungstextBeschreibungstext
                    BeschreibungstextBeschreibungstextBeschreibungstextBeschreibungstext
                    BeschreibungstextBeschreibungstextBeschreibungstextBeschreibungstext
                </p>
                <button class="spenden-detail-btn" style="width:200px;margin-left:0;margin-top:10px;"><span style="font-size:18px">PROJEKT ANSEHEN</span></button>
            </div>
        </div>




    </div>






    {% include "HtlSpendenportalBundle::footer.html.twig" %}

{% endif %}