{% embed "HtlSpendenportalBundle::header.html.twig" %}
    {# override the title-tag text #}
    {% block title_text %}
        Spendenverbindet | Entdecken
    {% endblock %}
{% endembed %}

<div class="helper-navbar"></div>

<div class="container">
    <div class="row fisrt-ent-section">
        <div class="col-xs-12 col-md-6 text-center"><h2>ENTDECKEN</h2></div>
        <div class="col-xs-12 col-md-6">
            <form>
                <input class="search" type="text" placeholder="Suche" required>
                <i class="fa fa-search icon" aria-hidden="true"></i>
            </form>
        </div>
    </div>

    <hr style="border: 1px solid lightgray">

    <div class="row second-ent-section text-center">
        <button data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" class="uk-button uk-button-primary"><span style="font-size:18px;">KATEGORIEN</span></button>
    </div>
</div>

<div class="container-fluid toggle-section collapse" id="collapseExample">
        <div class="row" style="text-transform: uppercase;">
            <div class="col-xs-12 col-sm-4 text-center">
                <ul>
                    <li style="cursor: pointer;" ng-click="loadAllProjects()">Alle Projekte</li>
                    <li style="cursor: pointer;" ng-click="loadProjectsWithId(allCategories[0].id, allCategories[0].name)" >[[allCategories[0].name]]</li>
                    <li style="cursor: pointer;" ng-click="loadProjectsWithId(allCategories[1].id, allCategories[1].name)">[[allCategories[1].name]]</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 text-center">
                <ul>
                    <li style="cursor: pointer;" ng-click="loadProjectsWithId(allCategories[2].id, allCategories[2].name)">[[allCategories[2].name]]</li>
                    <li style="cursor: pointer;" ng-click="loadProjectsWithId(allCategories[3].id, allCategories[3].name)">[[allCategories[3].name]]</li>
                    <li style="cursor: pointer;" ng-click="loadProjectsWithId(allCategories[4].id, allCategories[4].name)">[[allCategories[4].name]]</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 text-center">
                <ul>
                    <li style="cursor: pointer;" ng-click="loadProjectsWithId(allCategories[5].id, allCategories[5].name)">[[allCategories[5].name]]</li>
                    <li style="cursor: pointer;" ng-click="loadProjectsWithId(allCategories[6].id, allCategories[6].name)">[[allCategories[6].name]]</li>
                </ul>
            </div>
        </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12"><h2 style="padding-left: 25px;text-transform: uppercase;">[[activeCategorie]]</h2></div>
    </div>


    <div ng-show="showLoadingIndicator" class="row">
        <div class="col-xs-12" style="padding:50px;">
            <div class="cssload-thecube">
                <div class="cssload-cube cssload-c1"></div>
                <div class="cssload-cube cssload-c2"></div>
                <div class="cssload-cube cssload-c4"></div>
                <div class="cssload-cube cssload-c3"></div>
            </div>
        </div>
    </div>


    <div ng-repeat="projectspart in projectsPrepared" class="row">

        <div ng-repeat="project in projectspart" class="col-xs-12 col-sm-4" style="padding:50px;">

            <img src="{{ asset('bundles/htlspendenportal/img/[[project.titlePictureUrl]]') }}" alt="">

            <h3>[[project.title]]</h3>

            <p style="padding-bottom:20px;">
                [[project.shortinfo]]
            </p>

            <div class="uk-progress" style="margin-bottom:4px;border: 1px solid #272828;background-color: #fff">
                <div class="uk-progress-bar" style="width:[[project.progress]]%">[[project.progress]]%</div>
            </div>
            <p>Erreicht bis zum Ziel</p>

            <table style="border-spacing: 15px;">
                <tr>
                    <td><span class="coo-blue-color">[[project.created_at]]</span></td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="coo-blue-color">[[project.currentDonators]]</span></td>
                </tr>
                <tr>
                    <td>Start</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Spender</td>
                </tr>
            </table>
        </div>

    </div>


</div>




{% include "HtlSpendenportalBundle::footer.html.twig" %}
