<!DOCTYPE html>
<html data-ng-app="SpendenverbindetApp">
<head>
    <meta charset="UTF-8" />

    <title>{% block title_text %} Spendenverbindet {% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('bundles/htlspendenportal/bower_components/bootstrap/dist/css/bootstrap.min.css') }}" />

</head>
<body data-ng-controller="spendenverbindetController" >



