{% embed "HtlSpendenportalBundle::header.html.twig" %}

    {# override the title-tag text #}
    {% block title_text %}
        Über uns
    {% endblock %}

{% endembed %}

<ul class="uk-slideshow"  data-uk-slideshow="{autoplay:true, kenburns:'50s', height:'100vh'}" >
    <li><img src="https://timedotcom.files.wordpress.com/2016/02/2_refugees_nachtwey_web.jpg?quality=85&w=838" alt="testimg"></li>
    <li><img src="http://www.aljazeera.com/mritems/images/2013/11/29/2013112913303825402_8.jpg" width="400px" height="200px" alt="testimg"></li>
</ul>


<h1> {{ '{{testvariable}}' }} </h1>


{% include "HtlSpendenportalBundle::footer.html.twig" %}
