{% embed "HtlSpendenportalBundle::header.html.twig" %}
    {# override the title-tag text #}
    {% block title_text %}
        Spendenverbindet
    {% endblock %}
{% endembed %}

<div class="helper-navbar"></div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}


        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>

{% include "HtlSpendenportalBundle::footer.html.twig" %}