{% if is_granted('ROLE_DONATOR') %}

    {% embed "HtlSpendenportalBundle::header.html.twig" %}
        {# override the title-tag text #}
        {% block title_text %}
            Spendenverbindet | MEIN PROFIL
        {% endblock %}
    {% endembed %}

    <script>
        document.getElementById("mein_profil_spender_id").style["color"] = "#47A1DE";
    </script>

    <div ng-init="initMeinProfilEmpfaenger()" class="helper-navbar"></div>

    <div class="container">
        <form method="POST" action="/updateUser" enctype="multipart/form-data" >

            <div class="row fisrt-ent-section">
                <div class="col-xs-12 col-md-6 text-center"><h2>MEIN PROFIL</h2></div>
                <div class="col-xs-12 col-md-6">
                    <div class="row second-ent-section text-center">
                        <button id="saveButtonId" type="submit" style="margin-top:27px;" class="uk-button uk-button-primary"><span id="btnTextId" style="font-size:18px;">PROFIL GESPEICHERT</span></button>
                    </div>
                </div>
            </div>

            <div style="margin-bottom:50px;" class="row">
                <div class="col-xs-12 col-sm-6" style="padding:50px;padding-top: 0">

                    <input onkeyup="changeBtnText()" id="titelId" value="[[empfaengerProfilInfo[0].firstname]]" title="Vorname muss mindestens 3 Zeichen haben, maximal 20" name="firstname" style="margin-top:25px;padding:10px;width:100%;border:1px solid black;font-weight: bold;font-size: 20pt;" placeholder="Vorname" pattern=".{3,20}" type="text" required>
                    <small style="color:#47A1DE;font-size:18px;">Vorname</small>

                    <input onkeyup="changeBtnText()" value="[[empfaengerProfilInfo[0].lastname]]" title="Nachname muss mindestens 3 Zeichen haben, maximal 20" name="lastname" style="margin-top:25px;padding:10px;width:100%;border:1px solid black;font-weight: bold;font-size: 20pt;" placeholder="Nachname" pattern=".{3,20}" type="text" required>
                    <small style="color:#47A1DE;font-size:18px;">Nachname</small>

                    <input onkeyup="changeBtnText()" value="[[empfaengerProfilInfo[0].email]]" title="Muss eine valide Email-Adresse sein" name="email" style="margin-top:25px;padding:10px;width:100%;border:1px solid black;font-weight: bold;font-size: 20pt;" placeholder="Email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" type="text" required>
                    <small style="color:#47A1DE;font-size:18px;">Email</small>

                    <input onkeyup="changeBtnText()" value="[[empfaengerProfilInfo[0].username]]" title="Benutzername muss mindestens 3 Zeichen haben, maximal 20" name="username" style="margin-top:25px;padding:10px;width:100%;border:1px solid black;font-weight: bold;font-size: 20pt;" placeholder="Benutzername" pattern=".{3,20}" type="text" required>
                    <small style="color:#47A1DE;font-size:18px;">Benutzername</small>

                    <input onkeyup="changeBtnText()" value="[[empfaengerProfilInfo[0].age]]" title="Geburtsdatum muss angegeben werden" name="age" style="margin-top:25px;padding:10px;width:100%;border:1px solid black;font-weight: bold;font-size: 20pt;" type="datetime-local" required>
                    <small style="color:#47A1DE;font-size:18px;">Geburtsdatum</small>

                </div>
                <div class="col-xs-12 col-sm-6" style="padding:50px;padding-top:0">

                    <input onkeyup="changeBtnText()" value="[[empfaengerProfilInfo[0].town]]" title="Stadtname muss mindestens 3 Zeichen haben, maximal 20" name="town" style="margin-top:25px;padding:10px;width:100%;border:1px solid black;font-weight: bold;font-size: 20pt;" placeholder="Stadt" pattern=".{3,20}" type="text" required>
                    <small style="color:#47A1DE;font-size:18px;">Stadt</small>

                    <input onkeyup="changeBtnText()" value="[[empfaengerProfilInfo[0].zipcode]]" title="Muss eine valide Postleitzahl von Österreich sein" name="zipcode" style="margin-top:25px;padding:10px;width:100%;border:1px solid black;font-weight: bold;font-size: 20pt;" placeholder="Postleitzahl" pattern="[0-9]{4}" type="text" required>
                    <small style="color:#47A1DE;font-size:18px;">Postleitzahl</small>

                    <input onkeyup="changeBtnText()" value="[[empfaengerProfilInfo[0].street]]" title="Straßenname muss mindestens 3 Zeichen haben, maximal 20" name="street" style="margin-top:25px;padding:10px;width:100%;border:1px solid black;font-weight: bold;font-size: 20pt;" placeholder="Straße" pattern=".{3,20}" type="text" required>
                    <small style="color:#47A1DE;font-size:18px;">Straße</small>

                    <input onkeyup="changeBtnText()" value="[[empfaengerProfilInfo[0].housenumberDoornumber]]" title="Dieses Feld muss mindestens 1 Zeichen haben, maximal 30" name="housenumberDoornumber" style="margin-top:25px;padding:10px;width:100%;border:1px solid black;font-weight: bold;font-size: 20pt;" placeholder="Hausnr. Stiege / Tür" pattern=".{1,30}" type="text" required>
                    <small style="color:#47A1DE;font-size:18px;">Hausnr. Stiege / Tür</small>

                </div>
            </div>

            <script>

                function changeBtnText(){
                    console.log("cahnged");
                    document.getElementById("saveButtonId").setAttribute("class", "uk-button uk-button-danger");
                    document.getElementById("btnTextId").innerHTML = "PROFIL SPEICHERN";
                }


            </script>


        </form>


    </div>





    {% include "HtlSpendenportalBundle::footer.html.twig" %}

{% endif %}