{% embed "HtlSpendenportalBundle::header.html.twig" %}
    {# override the title-tag text #}
    {% block title_text %}
        Spendenverbindet | Projektdetail
    {% endblock %}
{% endembed %}

<div ng-init="initFollowerButton();initProjektDetail();initAllPicturesOfProject();initPosts()" class="helper-navbar"></div>

<div class="container">
    <div ng-show="loadingFinished" class="row fisrt-ent-section text-center">

        {% if is_granted('ROLE_DONATOR') %}
            <button style="width:110px;" ng-click="followerBtnPressed()" ng-disabled="followerBtnDisabled" data-toggle="collapse" class="folgen-detail-btn"><span style="font-size:18px;">[[followerBtnText]]</span></button>
        {% else %}

            {% if is_granted('ROLE_RECEIVER') == false %}
                <button style="width:110px;" data-uk-modal="{target:'#follower-modal'}" data-toggle="collapse" class="folgen-detail-btn"><span style="font-size:18px">FOLGEN</span></button>

                <div id="follower-modal" class="uk-modal">
                    <div class="uk-modal-dialog">
                        <a class="uk-modal-close uk-close"></a>
                        Sie müssen angemeldet sein um diesem Projekt folgen zu können!<br />
                        Hier zum <a style="color:#47A1DE" href="/login">anmelden</a> oder <a style="color:#47A1DE" href="/register">registrieren</a>
                    </div>
                </div>
            {% endif %}

        {% endif %}

        {% if is_granted('ROLE_RECEIVER') == false %}
            <button style="width:110px;" data-toggle="collapse" class="spenden-detail-btn"><span style="font-size:18px">SPENDEN</span></button>
        {% endif %}

    </div>


        <div ng-hide="loadingFinished" class="row">
            <div class="col-xs-12" style="padding:50px;">
                <div class="cssload-thecube">
                    <div class="cssload-cube cssload-c1"></div>
                    <div class="cssload-cube cssload-c2"></div>
                    <div class="cssload-cube cssload-c4"></div>
                    <div class="cssload-cube cssload-c3"></div>
                </div>
            </div>
        </div>

</div>


<div ng-show="loadingFinished">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6" style="padding:50px;padding-top: 0">
                <div class="corner-text-image-wrapper">
                    <img src="{{ asset('bundles/htlspendenportal/img/[[projectDetailInfo.titlePictureUrl]]') }}" alt="">
                    <p style="display:none" id="ifDonatedShowId">Bereits gespendet</p>
                    <span id="getHasDonatedValueId" style="display:none">[[projectDetailInfo.hasDonated]]</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6" style="padding:50px;padding-top:0">
                <h2>[[projectDetailInfo.title]]</h2>
                <p style="padding-bottom:20px">
                    [[firstPartOfText]]
                    <br>
                    <div id="readmore" class="collapse">
                       [[secondPartOfText]]
                    </div>
                    <button ng-show="[[hideReadMoreBtn]]" ng-click="readMoreOrLessTriggered()" data-toggle="collapse" data-target="#readmore" class=" spenden-detail-btn" style="width:150px;margin-left:0;margin-top:10px;"><span style="font-size:18px">[[readMoreTxt]]</span></button>

                </p>
            </div>
        </div>
    </div>


    <div class="container" style="margin-top:50px;">
        <div class="row">
            <div class="col-xs-12 col-sm-6" style="padding:50px;padding-top: 0">

                <div class="uk-progress" style="margin-bottom:4px;border: 1px solid #272828;background-color: #fff">
                    <div class="uk-progress-bar" style="width:[[projectDetailInfo.progress]]%">[[projectDetailInfo.progress]]%</div>
                </div>
                <p>[[projectDetailInfo.currentAmount]]€ erreicht von [[projectDetailInfo.targetAmount]]€</p>
                <br>
                <p>
                    <span class="coo-blue-color" style="font-size:20px"><b>[[projectDetailInfo.created_at]]</b></span><br>
                    <span>Start des Projekts</span>
                </p>
                <br>
                <p>
                    <span class="coo-blue-color" style="font-size:20px"><b>[[projectDetailInfo.currentDonators]]</b></span><br>
                    <span>Spender</span>
                </p>

            </div>
            <div class="col-xs-12 col-sm-6" style="padding:50px;padding-top: 0">


                <div id="gallery_image_loader_id" class="cssload-thecube">
                    <div class="cssload-cube cssload-c1"></div>
                    <div class="cssload-cube cssload-c2"></div>
                    <div class="cssload-cube cssload-c4"></div>
                    <div class="cssload-cube cssload-c3"></div>
                </div>


                <div style="display:none" id="img_wrapper_id">
                    <img id="main_img_id" src="{{ asset('bundles/htlspendenportal/img/sliderimg-1.jpg') }}" >
                    <div class="uk-margin" data-uk-slideset="{default: 4}">
                        <div class="uk-slidenav-position uk-margin">
                            <ul id="allSilderPicturesId" class="uk-slideset uk-grid uk-flex-center">
                                <li id="dummyentry" ><img src="{{ asset('dummy.jpg') }}" alt="dummypicture"></li>
                            </ul>
                            <a href="#" class="uk-slidenav uk-slidenav-previous" data-uk-slideset-item="previous"></a>
                            <a href="#" class="uk-slidenav uk-slidenav-next" data-uk-slideset-item="next"></a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="container-fluid" style="background-color: #47A1DE;">
    <div class="container">

        <div ng-repeat="post in allPostsOfCurrentSite" class="row" style="padding-top: 50px;">
            <div class="col-xs-12 col-sm-6" style="padding:50px;padding-top: 0">
                <img src="{{ asset('bundles/htlspendenportal/img/[[post.postPictureUrl]]') }}" alt="">
            </div>
            <div class="col-xs-12 col-sm-6" style="color:white;padding:50px;padding-top: 0">
                <h3>[[post.postTitle]]</h3>
                <p style="padding-bottom:20px">
                    [[post.postText]]
                </p>
            </div>
        </div>


    </div>
    </div>

</div>

<script>
    function showThisImageInBig(test) {
        var main_img = document.getElementById("main_img_id");
        main_img.setAttribute("src", "/bundles/htlspendenportal/img/".concat(test));
    }

    function pictureLoaded(){
        document.getElementById("gallery_image_loader_id").setAttribute("style", "display:none");
        document.getElementById("img_wrapper_id").setAttribute("style", "display:block");
    }


</script>



{% include "HtlSpendenportalBundle::footer.html.twig" %}
