/* generally */

.coo-blue-color {
  color: $cooperative-design-color-blue;
}

h1, h2 {
  font-family: 'Heebo';
  font-weight: 800;
  padding-bottom: 20px;
  letter-spacing: 1px;
}

a:focus {
  outline: 0;
}

a:link {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
}

a:hover {
  color: $cooperative-design-color-blue;
}

a:active {
  color: #fff;
}


ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* loading indicator, http://cssload.net/*/

.cssload-thecube {
  width: 58px;
  height: 58px;
  margin: 0 auto;
  margin-top: 39px;
  position: relative;
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
  position: relative;
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.cssload-thecube .cssload-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(43,160,199);
  animation: cssload-fold-thecube 2.76s infinite linear both;
  -o-animation: cssload-fold-thecube 2.76s infinite linear both;
  -ms-animation: cssload-fold-thecube 2.76s infinite linear both;
  -webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
  -moz-animation: cssload-fold-thecube 2.76s infinite linear both;
  transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
  transform: scale(1.1) rotateZ(90deg);
  -o-transform: scale(1.1) rotateZ(90deg);
  -ms-transform: scale(1.1) rotateZ(90deg);
  -webkit-transform: scale(1.1) rotateZ(90deg);
  -moz-transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
  transform: scale(1.1) rotateZ(180deg);
  -o-transform: scale(1.1) rotateZ(180deg);
  -ms-transform: scale(1.1) rotateZ(180deg);
  -webkit-transform: scale(1.1) rotateZ(180deg);
  -moz-transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
  transform: scale(1.1) rotateZ(270deg);
  -o-transform: scale(1.1) rotateZ(270deg);
  -ms-transform: scale(1.1) rotateZ(270deg);
  -webkit-transform: scale(1.1) rotateZ(270deg);
  -moz-transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
  animation-delay: 0.35s;
  -o-animation-delay: 0.35s;
  -ms-animation-delay: 0.35s;
  -webkit-animation-delay: 0.35s;
  -moz-animation-delay: 0.35s;
}
.cssload-thecube .cssload-c3:before {
  animation-delay: 0.69s;
  -o-animation-delay: 0.69s;
  -ms-animation-delay: 0.69s;
  -webkit-animation-delay: 0.69s;
  -moz-animation-delay: 0.69s;
}
.cssload-thecube .cssload-c4:before {
  animation-delay: 1.04s;
  -o-animation-delay: 1.04s;
  -ms-animation-delay: 1.04s;
  -webkit-animation-delay: 1.04s;
  -moz-animation-delay: 1.04s;
}



@keyframes cssload-fold-thecube {
  0%, 10% {
    transform: perspective(108px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    transform: perspective(108px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    transform: perspective(108px) rotateY(180deg);
    opacity: 0;
  }
}

@-o-keyframes cssload-fold-thecube {
  0%, 10% {
    -o-transform: perspective(108px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -o-transform: perspective(108px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -o-transform: perspective(108px) rotateY(180deg);
    opacity: 0;
  }
}

@-ms-keyframes cssload-fold-thecube {
  0%, 10% {
    -ms-transform: perspective(108px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -ms-transform: perspective(108px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -ms-transform: perspective(108px) rotateY(180deg);
    opacity: 0;
  }
}

@-webkit-keyframes cssload-fold-thecube {
  0%, 10% {
    -webkit-transform: perspective(108px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(108px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(108px) rotateY(180deg);
    opacity: 0;
  }
}

@-moz-keyframes cssload-fold-thecube {
  0%, 10% {
    -moz-transform: perspective(108px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -moz-transform: perspective(108px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -moz-transform: perspective(108px) rotateY(180deg);
    opacity: 0;
  }
}

/* navbar */

$navbar-height-screen: 126px; /* Höhe der Navbar bei großem Bildschirm */
$logo-height: 46px; /* Logo height muss in den entwickler-tools von chrome untersucht werden */

.navbar {
  position: absolute;
  width: 100%;
  border-width: 0;
}

.navbar .nav li {
  text-align: center;
}

.sv-nav-logo {
  margin-top: ($navbar-height / 2) - ( $logo-height / 2);
  padding-left: 15px;
}

.sv-remove-margin {
  margin-top:0;
  margin-bottom:0;
}

/* uk-slideshow */

.uk-overlay-fade {
  opacity: 1;
}

.sv-spenden-btn {
  padding:66px;
  border: 10px solid #00a6e4;
  background-color: rgba(0, 166, 228, 1);
  margin-bottom: 10px;
  font-size:25px;
  font-weight:bold;
}

.sv-spenden-btn:hover {
  background-color: #00a6e4;
}

.sv-empfangen-btn {
  padding: 50px;
  border: 10px solid white;
  margin-top: 10px;
  background-color: rgba(105, 105, 105, 0.6);
  font-size:25px;
  padding-top: 68px;
  padding-bottom: 68px;
  font-weight:bold;
}

.sv-empfangen-btn:hover {
  background-color: rgba(105, 105, 105, 0.6);
}

/* homepage */

.first-hp-section {
  padding-top: 50px;
}

.sv-hp-section {
  padding-bottom: 50px;
}

/* footer */

footer {
  background-color: $cooperative-design-color-gray;
  color: white;
}

.sv-links-mobile {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.sv-links-wrapper {
  margin-top: 60px;
  margin-bottom: 60px;
}
.sv-links-screen {
  padding-left: 50px;
  padding-right: 50px;
}
.sv-links-wrapper-screen {
  display:none;
}

.sv-icon-wrapper {
  text-align: center;
  margin-bottom: 30px;
}

.sv-copyright-wrapper {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

/* helper-navbar */

.helper-navbar {
  position: static;
  width: 100%;
  height: 80px;
}

/* searchbar */

.form-searchbar {
  width:257px;
  margin-top: 27px;
  margin-bottom: 27px;
  border: 1px solid $cooperative-design-color-gray;
  position: relative;
  left: 50%;
  margin-left: -128px;
}
.search {
  padding:8px 15px;
  background: #fff;
  border-width: 0px;
  width: 200px;
}

input:focus{
  outline: none;
}

.icon {
  position:relative;
  padding:10px 15px;
  color: $cooperative-design-color-gray;
}

.icon:hover {
  cursor: pointer;
}

/* entdecken seite */

.fisrt-ent-section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.second-ent-section {
  margin-bottom: 25px;
}

.toggle-section {
  background-color: deepskyblue;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
}

.clickable:hover {
  cursor: pointer;
}

/* projektdetail seite */

button:focus {
  outline:0;
}

.folgen-detail-btn {
  width: 100px;
  border: 1px solid #47A1DE;
  margin-right: 20px;
  background-color: #47A1DE;
  height: 40px;
  color: white;
}
.folgen-detail-btn:hover {
  background-color: #47A1DE;
}

.spenden-detail-btn {
  background-color: white;
  border: 1px solid #272828;
  color: #272828;
  width: 100px;
  margin-left: 20px;
  height: 40px;
}
.spenden-detail-btn:hover {
  background-color: white;
  color: #272828;
}

/* abonniert seite */

.corner-text-image-wrapper {
  position: relative;
}
.corner-text-image-wrapper p {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 10px;
  color: #FFF;
  background-color: #47A1DE;
  text-align: center;
}

/* Imageslider on projektdetailseite, show the nav-items always */
.uk-slidenav-position .uk-slidenav {
  display:block;
}


/*@media screen and (min-width: 768px) {*/
@media screen and (min-width: 992px) {

  /* navbar */

    .navbar {
    min-height: $navbar-height-screen;
  }

  .navbar-nav li a {
    line-height: $navbar-height-screen;
    height: $navbar-height-screen;
    padding-top: 0;
  }

  .sv-nav-logo {
    /* margin-top: ($navbar-height-screen / 2) - ( $logo-height / 2); */
    padding-right: 20px;
    margin-top: 52px;
  }


  /* uk-slideshow */

  .sv-spenden-btn {
    padding:95px;
    margin-bottom: 0px;
  }

  .sv-empfangen-btn {
    padding: 95px;
    margin-top: 0px;
    padding-left: 77px;
    padding-right: 77px;
  }

  /* footer */

  .sv-links-wrapper-screen {
    display:block;
  }
  .sv-links-wrapper-mobile {
    display: none;
  }

  /* helper-navbar */

  .helper-navbar {
    height: 126px;
  }

}